<% 
layout('../boilerplate');

stylesheet('/css/jasny-bootstrap.min.css');

script('//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing');
script('/js/jasny-bootstrap.min.js');
script('/js/jquery.fullscreen-min.js');
script('/js/new_edit_places.js');

-%>
<div class="container" id="admin">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<% for(k in error_msg) { %>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Error!</strong> <%= error_msg[k] %>
				</div>
			<% } %>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					Editing
				</div>

				<form role="form" acton="<%=form_action%>" method="post" enctype="multipart/form-data">
					<div class="panel-body">

							<div class="form-group<%=(validation.image)?' has-error':''%>">
								<label class="control-label" for="image">Image</label>
								<div class="">								
									<!-- jasny bootstrap image upload widget -->
									<div class="fileinput fileinput-new " data-provides="fileinput">
										<div class="fileinput-new thumbnail" data-trigger="fileinput" style="width: 240px; height: 140px;">
										<img src="<%=(item._id)?'/img/places/'+item._id+item.imgext:'/img/new.png'%>" alt="New Image">
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="max-width: 240px; max-height: 140px;"></div>
										<div>
											<span class="btn btn-default btn-file">
												<span class="fileinput-new">Select image</span>
												<span class="fileinput-exists">Change</span>
												<input type="file" name="image" id="image">
											</span>
											<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
										</div>
									</div>
									<!-- /jasny bootstrap image upload widget -->
								</div>
							</div>

							<div class="form-group<%=(validation.name)?' has-error':''%>">
								<label class="control-label" for="name">Name</label>
								<%-input({
									type: 'text',
									id: 'name',
									name: 'name',
									placeholder: 'Name',
									value: item.name,
									class: 'form-control',
									required: true
								})%>
							</div>
							
							<div class="form-group<%=(validation.name)?' has-error':''%>">
								<label class="control-label" for="name">Description</label>
								<textarea name="description" id="description" class="form-control" rows="3" required><%=(item.description)?item.description:''%></textarea>
							</div>

							<!-- Location Field -->
							<input type="hidden" name="type" id="type" value="<%=(item.type)?item.type:''%>">
							<input type="hidden" name="coordinates" id="coordinates" value="<%=((item.coordinates)?JSON.stringify(item.coordinates):'')%>">

							<script>
								var place = <%-(item.coordinates)?JSON.stringify({type:item.type,coordinates:item.coordinates}):'""'%>;
							</script>

							<div class="form-group<%=(validation.location)?' has-error':''%>">
								<label class="control-label" for="name">Coordinates</label>
								<div id="location" class="gmap"></div>
							</div>
							<!-- /Location Field -->


					</div>

					<div class="panel-footer">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>

				</form>
			</div><!--/.panel .panel-default -->
		</div>
	</div><!--/.row -->
</div>
